*{
    margin: 0;
    padding: 0;
}
.head{
    color: brown;
    background-color: cornsilk;
    text-align: center;
}
#first{
    color: rgb(235, 126, 37);
    background-color: antiquewhite;
    font-size: 1.3rem;
}